<template>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</template>
<script>
export default {
  mounted: () => {
    (function ($) {
      "use strict";
      
      // Back to top button
      $(window).scroll(function () {
        if ($(this).scrollTop() > 200) {
          $(".back-to-top").fadeIn("slow");
        } else {
          $(".back-to-top").fadeOut("slow");
        }
      });
      $(".back-to-top").click(function () {
        $("html, body").animate({ scrollTop: 0 }, 1500, "easeInOutExpo");
        return false;
      });
    })(jQuery);
  },
};
</script>