<template>
  <div class="blog">
    <div class="container">
      <SectionHeader title="Blog" subtitle="Publicaciones mas recientes" />
      <div class="row">
        <div
          v-for="(item, index) in posts"
          :key="index"
          class="col-lg-4 col-md-6 wow fadeInUp"
          :data-wow-delay="{'0.2s': index%0 == 1}"
        >
          <div class="blog-item">
            <div class="blog-img">
              <img :src="item.img" alt="Image" />
            </div>
            <div class="blog-title">
              <h3>{{item.title}}</h3>
              <a class="btn" href="">+</a>
            </div>
            <div class="blog-meta">
              <p>By<a href="">{{item.meta.by}}</a></p>
              <p>In<a href="">{{item.meta.in}}</a></p>
            </div>
            <div class="blog-text">
              <p>
                {{item.text}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      posts: [
        {
          img: 'img/blog-1.jpg',
          title: 'Lorem ipsum dolor sit',
          meta:{
            by: 'Admin',
            in:'Construction',
          },
          text: `Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi.
                Curabitur facilisis ornare velit non vulputate. Aliquam metus
                tortor`,
        },
        {
          img: 'img/blog-2.jpg',
          title: 'Lorem ipsum dolor sit',
          meta:{
            by: 'Admin',
            in:'Construction',
          },
          text: `Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi.
                Curabitur facilisis ornare velit non vulputate. Aliquam metus
                tortor`,
        },
        {
          img: 'img/blog-3.jpg',
          title: 'Lorem ipsum dolor sit',
          meta:{
            by: 'Admin',
            in:'Construction',
          },
          text: `Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi.
                Curabitur facilisis ornare velit non vulputate. Aliquam metus
                tortor`,
        }
      ],
    };
  },
  mounted: () => {
    (function ($) {
      "use strict";

      // Blogs carousel
      $(".related-slider").owlCarousel({
        autoplay: true,
        dots: false,
        loop: true,
        nav: true,
        navText: [
          '<i class="fa fa-angle-left" aria-hidden="true"></i>',
          '<i class="fa fa-angle-right" aria-hidden="true"></i>',
        ],
        responsive: {
          0: {
            items: 1,
          },
          576: {
            items: 1,
          },
          768: {
            items: 2,
          },
        },
      });
    })(jQuery);
  },
};
</script>