<template>
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div v-for="(slide, index) in slides" :key="index" :class="{'carousel-item active': index==0, 'carousel-item': index!=0}">
        <img :src="slide.img" alt="Carousel Image" />
        <div class="carousel-caption">
          <p class="animated fadeInRight">{{ slide.text }}</p>
          <h1 class="animated fadeInLeft">{{ slide.subtext }}</h1>
          <a class="btn animated fadeInUp" :href="slide.link">
            {{ slide.action }}
          </a>
        </div>
      </div>
    </div>

    <a
      class="carousel-control-prev"
      href="#carousel"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carousel"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</template>

<script>
export default {
  data() {
    return {
      slides: [
        {
          text: "Somos los profesionales",
          subtext: "Para tu nuevo proyecto",
          img: "img/carousel-1.jpg",
          action: "Cotizar",
          link: "#",
        },
        {
          text: "Remodelaciones",
          subtext: "Hacemos tus ideas realidad ",
          img: "img/carousel-2.jpg",
          action: "Cotizar",
          link: "#",
        },
        {
          text: "Somos de confianza",
          subtext: "Nuestro trabajo nos respalda",
          img: "img/carousel-3.jpg",
          action: "Cotizar",
          link: "#",
        },
      ],
    };
  },
};
</script>