<template>
  <div class="fact">
    <div class="container-fluid">
      <div class="row counters">
        <div class="col-md-6 fact-left wow slideInLeft">
          <div class="row">
            <div class="col-6">
              <div class="fact-icon">
                <i class="flaticon-worker"></i>
              </div>
              <div class="fact-text">
                <h2 data-toggle="counter-up">109</h2>
                <p>Expert Workers</p>
              </div>
            </div>
            <div class="col-6">
              <div class="fact-icon">
                <i class="flaticon-building"></i>
              </div>
              <div class="fact-text">
                <h2 data-toggle="counter-up">485</h2>
                <p>Happy Clients</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 fact-right wow slideInRight">
          <div class="row">
            <div class="col-6">
              <div class="fact-icon">
                <i class="flaticon-address"></i>
              </div>
              <div class="fact-text">
                <h2 data-toggle="counter-up">789</h2>
                <p>Completed Projects</p>
              </div>
            </div>
            <div class="col-6">
              <div class="fact-icon">
                <i class="flaticon-crane"></i>
              </div>
              <div class="fact-text">
                <h2 data-toggle="counter-up">890</h2>
                <p>Running Projects</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  mounted: () => {
    (function ($) {
      "use strict";

      // jQuery counterUp
      $('[data-toggle="counter-up"]').counterUp({
        delay: 10,
        time: 2000,
      });
    })(jQuery);
  },
};
</script>