<template>
  <div class="faqs">
    <div class="container">
      <SectionHeader title="Preguntas Frecuentes" subtitle="Quiza Te Preguntes" />
      <div class="row">
        <div class="col-md-6">
          <div id="accordion-1">
            <div
              v-for="(item, index) in questionsL"
              :key="index"
              class="card wow fadeInLeft"
              data-wow-delay="0.5s"
            >
              <div class="card-header">
                <a
                  class="card-link collapsed"
                  data-toggle="collapse"
                  href="#collapseFive"
                >
                  {{ item.question }}
                </a>
              </div>
              <div
                id="collapseFive"
                class="collapse"
                data-parent="#accordion-1"
              >
                <div class="card-body">
                  {{ item.answer }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div id="accordion-2">
            <div
              v-for="(item, index) in questionsR"
              :key="index"
              class="card wow fadeInRight"
              data-wow-delay="0.5s"
            >
              <div class="card-header">
                <a
                  class="card-link collapsed"
                  data-toggle="collapse"
                  href="#collapseTen"
                >
                  {{ item.question }}
                </a>
              </div>
              <div id="collapseTen" class="collapse" data-parent="#accordion-2">
                <div class="card-body">
                  {{ item.answer }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      questionsL: [
        {
          question: "Pregunta1",
          answer: "respuesta",
        },
        {
          question: "Pregunta",
          answer: "respuesta1",
        },
        {
          question: "Pregunta",
          answer: "respuesta",
        },
        {
          question: "Pregunta",
          answer: "respuesta",
        },
      ],
      questionsR: [
        {
          question: "Pregunta",
          answer: "respuesta",
        },
        {
          question: "Pregunta",
          answer: "respuesta",
        },
        {
          question: "Pregunta",
          answer: "respuesta",
        },
        {
          question: "Pregunta",
          answer: "respuesta",
        },
      ],
    };
  },
};
</script>
