<template>
  <div class="nav-bar">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a href="#" class="navbar-brand">MENU</a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav mr-auto">
            <a href="index.html" class="nav-item nav-link active">Home</a>
            <a href="about.html" class="nav-item nav-link">About</a>
            <a href="service.html" class="nav-item nav-link">Service</a>
            <a href="team.html" class="nav-item nav-link">Team</a>
            <a href="portfolio.html" class="nav-item nav-link">Project</a>
            <div class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                >Pages</a
              >
              <div class="dropdown-menu">
                <a href="blog.html" class="dropdown-item">Blog Page</a>
                <a href="single.html" class="dropdown-item">Single Page</a>
              </div>
            </div>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
          </div>
          <div class="ml-auto">
            <a class="btn" href="#">Cotizar</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</template>
<script>
export default {
  mounted: () => {
    (function ($) {
      "use strict";

      // Sticky Navbar
      $(window).scroll(function () {
        if ($(this).scrollTop() > 90) {
          $(".nav-bar").addClass("nav-sticky");
          $(".carousel, .page-header").css("margin-top", "73px");
        } else {
          $(".nav-bar").removeClass("nav-sticky");
          $(".carousel, .page-header").css("margin-top", "0");
        }
      });

      // Dropdown on mouse hover
      $(document).ready(function () {
        function toggleNavbarMethod() {
          if ($(window).width() > 992) {
            $(".navbar .dropdown")
              .on("mouseover", function () {
                $(".dropdown-toggle", this).trigger("click");
              })
              .on("mouseout", function () {
                $(".dropdown-toggle", this).trigger("click").blur();
              });
          } else {
            $(".navbar .dropdown").off("mouseover").off("mouseout");
          }
        }
        toggleNavbarMethod();
        $(window).resize(toggleNavbarMethod);
      });
    })(jQuery);
  },
}
</script>