<template>
  <div class="section-header text-center">
    <p>{{title}}</p>
    <h2>{{subtitle}}</h2>
  </div>
</template>
<script>
export default {
    props: {
        title: String,
        subtitle: String
    }
}
</script>