<template>
  <div class="service">
    <div class="container">
      <SectionHeader title="Nuestros servicios" subtitle="Trabajamos en" />
      <div class="row">
        <div
          v-for="(item, index) in services"
          :key="index"
          class="col-lg-4 col-md-6 wow fadeInUp"
          data-wow-delay="0.6s"
        >
          <div class="service-item">
            <div class="service-img">
              <img src="img/service-6.jpg" alt="Image" />
              <div class="service-overlay">
                <p>
                  {{ item.descripcion }}
                </p>
              </div>
            </div>
            <div class="service-text">
              <h3>{{ item.tittle }}</h3>
              <a class="btn" href="img/service-6.jpg" data-lightbox="service"
                >+</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SectionHeader from "./SectionHeader.vue";
export default {
  components: { SectionHeader },
  data() {
    return {
      services: [
        {
          tittle: "servicio",
          description: "descripcion",
        },
        {
          tittle: "servicio",
          description: "descripcion",
        },
        {
          tittle: "servicio",
          description: "descripcion",
        },
        {
          tittle: "servicio",
          description: "descripcion",
        },
        {
          tittle: "servicio",
          description: "descripcion",
        },
        {
          tittle: "servicio",
          description: "descripcion",
        },
      ],
    };
  },
};
</script>