<template>
  <div class="team">
    <div class="container">
      <SectionHeader
        title="Nuestro Equipo"
        subtitle="Conozca nuestros Profesionales"
      />
      <div class="row">
        <div
          v-for="(person, index) in people"
          :key="index"
          class="col-lg-3 col-md-6 wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <div class="team-item">
            <div class="team-img">
              <img :src="person.imagen" alt="Team Image" />
            </div>
            <div class="team-text">
              <h2>{{ person.name }}</h2>
              <p>{{ person.charge }}</p>
            </div>
            <div class="team-social">
              <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
              <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="social-li" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
              <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      people: [
        {
          name: "Pepipto",
          charge: "Arquitecto",
          imagen: "img/team-1.jpg",
          socialMedia: {
            facebook: "",
            twitter: "",
            instagram: "",
            linkedin: "",
          },
        },
        {
          name: "Pepipta",
          charge: "Arquitecto",
          imagen: "img/team-2.jpg",
          socialMedia: {
            facebook: "",
            twitter: "",
            instagram: "",
            linkedin: "",
          },
        },
        {
          name: "Pepipto",
          charge: "Arquitecto",
          imagen: "img/team-1.jpg",
          socialMedia: {
            facebook: "",
            twitter: "",
            instagram: "",
            linkedin: "",
          },
        },
        {
          name: "Pepipta",
          charge: "Arquitecto",
          imagen: "img/team-2.jpg",
          socialMedia: {
            facebook: "",
            twitter: "",
            instagram: "",
            linkedin: "",
          },
        },
      ],
    };
  },
};
</script>