<template>
  <div class="testimonial wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="testimonial-slider-nav">
            <div
              v-for="(item, index) in testimonials"
              :key="index"
              class="slider-nav"
            >
              <img :src="item.img" alt="Testimonial" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="testimonial-slider">
            <div
              v-for="(item, index) in testimonials"
              :key="index"
              class="slider-item"
            >
              <h3>{{ item.name }}</h3>
              <h4>{{ item.profession }}</h4>
              <p>
                {{ item.text }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      testimonials: [
        {
          name: "Carl",
          profession: "",
          img: "img/testimonial-1.jpg",
          text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus.`,
        },
        {
          name: "Carl",
          profession: "",
          img: "img/testimonial-2.jpg",
          text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus.`,
        },
        {
          name: "Carl",
          profession: "",
          img: "img/testimonial-3.jpg",
          text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus.`,
        },
        {
          name: "Carl",
          profession: "",
          img: "img/testimonial-4.jpg",
          text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus.`,
        },
      ],
    };
  },
  mounted: () => {
    (function ($) {
      "use strict";
      // Testimonial Slider
      $(".testimonial-slider").slick({
        infinite: true,
        autoplay: true,
        arrows: false,
        dots: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        asNavFor: ".testimonial-slider-nav",
      });
      $(".testimonial-slider-nav").slick({
        arrows: false,
        dots: false,
        focusOnSelect: true,
        centerMode: true,
        centerPadding: "22px",
        slidesToShow: 3,
        asNavFor: ".testimonial-slider",
      });
      $(".testimonial .slider-nav").css({
        position: "relative",
        height: "160px",
      });
    })(jQuery);
  },
};
</script>