<template>
  <div class="top-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12">
          <div class="logo">
            <a href="index.html">
              <h1 class="font-italic text-white">Techos AF</h1>
              <!-- <img src="img/logo.jpg" alt="Logo"> -->
            </a>
          </div>
        </div>
        <div  class="col-lg-8 col-md-7 d-none d-lg-block">
          <div class="row">
            <h1>Drywall <span class="text-white">&</span> PVC</h1>
            <!-- <div v-for="item in barItem" class="col-4">
              <div class="top-bar-item">
                <div class="top-bar-icon">
                  <i class="flaticon-calendar"></i>
                </div>
                <div class="top-bar-text">
                  <h3>{{item.info}}</h3>
                  <p>{{item.extraInfo}}</p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      barItem: [
        {
          info: "Email Us",
          extraInfo: "Mon - Fri, 8:00 - 9:00",
        },
        {
          info: "Call",
          extraInfo: "Mon - Fri, 8:00 - 9:00",
        },
        {
          info: "Email Us",
          extraInfo: "Mon - Fri, 8:00 - 9:00",
        },
        
      ],
    };
  },
};
</script>