<template>
  <div>
    <div class="video wow fadeIn" data-wow-delay="0.1s">
      <div class="container">
        <button
          type="button"
          class="btn-play"
          data-toggle="modal"
          data-src="https://www.youtube.com/embed/DWRcNpR6Kdc"
          data-target="#videoModal"
        >
          <span></span>
        </button>
      </div>
    </div>
    <div
      class="modal fade"
      id="videoModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                class="embed-responsive-item"
                src=""
                id="video"
                allowscriptaccess="always"
                allow="autoplay"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted: () => {
    (function ($) {
      "use strict";

      // Modal Video
      $(document).ready(function () {
        var $videoSrc;
        $(".btn-play").click(function () {
          $videoSrc = $(this).data("src");
        });

        $("#videoModal").on("shown.bs.modal", function (e) {
          $("#video").attr(
            "src",
            $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0"
          );
        });

        $("#videoModal").on("hide.bs.modal", function (e) {
          $("#video").attr("src", $videoSrc);
        });
      });
    })(jQuery);
  },
}
</script>