<template>
  <div class="wrapper">
    <!-- Top Bar Start -->
    <TopBar> </TopBar>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <NavBar></NavBar>
    <!-- Nav Bar End -->

    <!-- Carousel Start -->
    <Carousel></Carousel>
    <!-- Carousel End -->

    <!-- Feature Start-->
    <Feature></Feature>
    <!-- Feature End-->

    <!-- About Start -->
    <About></About>
    <!-- About End -->

    <!-- Fact Start -->
    <Fact></Fact>
    <!-- Fact End -->

    <!-- Service Start -->
    <Service></Service>
    <!-- Service End -->

    <!-- Video Start -->
    <Video />
    <!-- Video End -->

    <!-- Team Start -->
    <Team></Team>
    <!-- Team End -->

    <!-- FAQs Start -->
    <FAQs></FAQs>
    <!-- FAQs End -->

    <!-- Testimonial Start -->
    <!-- <div class="testimonial wow fadeIn" data-wow-delay="0.1s">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="testimonial-slider-nav">
              <div class="slider-nav">
                <img src="img/testimonial-1.jpg" alt="Testimonial" />
              </div>
              <div class="slider-nav">
                <img src="img/testimonial-2.jpg" alt="Testimonial" />
              </div>
              <div class="slider-nav">
                <img src="img/testimonial-3.jpg" alt="Testimonial" />
              </div>
              <div class="slider-nav">
                <img src="img/testimonial-4.jpg" alt="Testimonial" />
              </div>
              <div class="slider-nav">
                <img src="img/testimonial-1.jpg" alt="Testimonial" />
              </div>
              <div class="slider-nav">
                <img src="img/testimonial-2.jpg" alt="Testimonial" />
              </div>
              <div class="slider-nav">
                <img src="img/testimonial-3.jpg" alt="Testimonial" />
              </div>
              <div class="slider-nav">
                <img src="img/testimonial-4.jpg" alt="Testimonial" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="testimonial-slider">
              <div class="slider-item">
                <h3>Customer Name</h3>
                <h4>profession</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus.
                </p>
              </div>
              <div class="slider-item">
                <h3>Customer Name</h3>
                <h4>profession</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus.
                </p>
              </div>
              <div class="slider-item">
                <h3>Customer Name</h3>
                <h4>profession</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus.
                </p>
              </div>
              <div class="slider-item">
                <h3>Customer Name</h3>
                <h4>profession</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus.
                </p>
              </div>
              <div class="slider-item">
                <h3>Customer Name</h3>
                <h4>profession</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus.
                </p>
              </div>
              <div class="slider-item">
                <h3>Customer Name</h3>
                <h4>profession</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus.
                </p>
              </div>
              <div class="slider-item">
                <h3>Customer Name</h3>
                <h4>profession</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus.
                </p>
              </div>
              <div class="slider-item">
                <h3>Customer Name</h3>
                <h4>profession</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec pretium mi. Curabitur facilisis ornare velit non
                  vulputate. Aliquam metus tortor, auctor id gravida
                  condimentum, viverra quis sem. Curabitur non nisl nec nisi
                  scelerisque maximus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Testimonial End -->
    <Testimonial></Testimonial>

    <!-- Blog Start -->
    <Blog />
    <!-- Blog End -->

    <!-- Footer Start -->
    <Footer></Footer>
    <!-- Footer End -->

    <BackToTop />
  </div>
</template>

<script>
export default {
  mounted: () => {
    (function ($) {
      "use strict";

      // Initiate the wowjs
      new WOW().init();
    })(jQuery);
  },
};
</script>